<div class="container">
  <h1>Log in</h1>
  <form class="form-horizontal">
    <div class="form-group">
      <label for="login-username" class="col-sm-2">Username</label>
      <div class="col-sm-4">
        <input class="form-control" type="text" name="email" id="login-username" placeholder="username"
               autocomplete="username" autocapitalize="off"
               ng-model="ctrl.loginForm.username"/>
      </div>
    </div>
    <div class="form-group">
      <label for="login-password" class="col-sm-2">Password</label>
      <div class="col-sm-4">
        <input class="form-control" type="password" name="password" id="login-password" placeholder="Password"
               autocomplete="current-password"
               ng-model="ctrl.loginForm.password"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4 col-sm-offset-2">
        <button class="btn btn-default" ng-click="ctrl.logIn()">Log in</button>
        <a ng-click="ctrl.resetPassword()">I've lost my password!</a>
      </div>
    </div>
  </form>
  <hr/>
  <h1>Sign up</h1>
  <form class="form-horizontal">
    <div class="form-group">
      <label for="email" class="col-sm-2">Email</label>
      <div class="col-sm-4">
        <input class="form-control" type="text" name="email" id="email" placeholder="Email"
               autocomplete="email"
               ng-model="ctrl.signupForm.email"/>
      </div>
    </div>
    <div class="form-group">
      <label for="username" class="col-sm-2">Username</label>
      <div class="col-sm-4">
        <input class="form-control" type="text" name="username" id="username" placeholder="Username"
               autocomplete="username" autocapitalize="off"
               ng-model="ctrl.signupForm.username"/>
      </div>
      <div class="col-sm-4 form-control-static">
        <a ng-click="ctrl.signupForm.username = ctrl.signupForm.email">use email as username</a>
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-2">Password</label>
      <div class="col-sm-4">
        <input class="form-control" type="password" name="password" id="password" placeholder="Password"
               autocomplete="new-password"
               ng-model="ctrl.signupForm.password"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4 col-sm-offset-2">
        <button class="btn btn-default" ng-click="ctrl.registerAccount()">Sign up</button>
      </div>
    </div>
  </form>
</div>

<script type="text/ng-template" id="unauthenticated/reset-password-modal.html">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Recover password</h3>
  </div>

  <div class="modal-body" id="modal-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="username" class="col-sm-2">Username</label>
        <div class="col-sm-4">
          <input class="form-control" type="text" name="username" id="username" placeholder="Username"
                 autocomplete="username" autocapitalize="off"
                 ng-model="ctrl.username"/>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer" ng-hide="ctrl.message">
    <a ng-click="ctrl.cancel()">Cancel</a>
    <button class="btn btn-default" type="button" ng-click="ctrl.ok()">Send recovery email</button>
  </div>
  <div class="modal-footer" ng-show="ctrl.message">
    <p>{{ ctrl.message }}</p>
    <a ng-click="ctrl.dismiss()">Ok!</a>
  </div>
</script>
